:root {
  --bg: #0D1117;
  --bg-secondary: #161B22;

  --primary: #1F6FEB;
  --accent: #00D9FF;

  --text: #E6EDF3;
  --text-secondary: #8B949E;

  --border: #30363D;
  --glow: rgba(31,111,235,0.4);
}


*{
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}
body{
    background-color: var(--bg);
    display: flex;
}

/** side bar deco **/
aside{
    background-color: var(--bg-secondary);
    border-right: 0.2vw solid var(--border);
    position: sticky;
    width: 7vw;
    transition: 0.3s ease;
}
aside:hover{
    border-color: var(--accent);
    box-shadow: 0 0 1vw var(--glow);
    width: 10vw;
    margin-right: 0vw;
}
.nav-btn i{
    font-size: 1.5vw;
    margin: 2vw;
    color:var(--border);
}
.nav-btn:hover i{
    color: var(--accent);
    text-shadow: 0 0 20px var(--glow);
}

.nav-btn h1{
    align-self: center;
    justify-self: center;
    color: var(--bg-secondary);
    opacity: 0;
    font-size: 0;
}
.nav-btn:hover h1{
    display: block;
    opacity: 1;
    color: var(--accent);
    text-shadow: 0 0 1vw var(--glow);
    font-size: 1.4vw;
}
nav{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    display: grid;
}
.nav-btn{
    display: grid;
    justify-items:center;
    align-items: center;
    row-gap: 0.2rem;
}

/** main body **/
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }


.main {
    padding: 3vw;
    padding-left: 6vw;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 20vw); 
    gap: 4vw;
    grid-template-areas:
        "a a a"
        "b b b"
        "c c d"
        "e f g"
        "h h h"
        "i i i";
}
.box:first-child{
    justify-content: center;
    align-content: center;
}
.box {
    background-color: var(--bg-secondary);
    border-radius: 0.5vw;
    border: 0.2vw solid var(--border);
    display: grid;
    padding: 3vw;
    }
.main .box:hover {
    border-color: var(--accent);
    box-shadow: 0 0 1vw var(--glow);
    transform: translateY(-3px);
}
.box h1{
    font-size: 2.5vw;
}
.box h2{
    font-size: 2vw;
}
.box h3{
    font-size: 1vw;
}
.box h4{
    font-size: 1vw;
}
.box button{
    height: 3vw;
    width: 6vw;
    border-radius: 0.7vw;
    border: none;
    background-color: var(--primary);
}
.box button:hover{
    background-color: var(--accent);
    box-shadow: 0 0 0.4vw var(--glow);
}
.loading{
    position:relative;
    height: 1vw;
    width: 1vw;
}

.popup{
    position: fixed;
    justify-content: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}
.popup:hover{
    border-color: var(--accent);
    box-shadow: 0 0 1vw var(--glow);
}
.dim{
    position:fixed;
    width: 100vw;
    height: 200vh;
    background-color: var(--bg);
    opacity: 0;
    transition: 0.4s;
    z-index: -2;
}
.popup.opened ~ .dim{
    opacity: 0.8;
    z-index: 1;
}
.opened{
    opacity: 1;
    top: 50%;
    z-index: 2;
}