<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipeline</title>
    <script src="https://kit.fontawesome.com/d659ec4204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">

    <!-- poppins font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <nav>
            <div class="home nav-btn">
                <i class="fa-solid fa-house i-home"></i>
                <h1>Home</h1>
            </div>
            <div class="dashboard nav-btn">
                <i class="fa-solid fa-chart-line i-dashboard"></i>
                <h1>Dashboard</h1>
            </div>
            <div class="home nav-btn">
                <i class="fa-solid fa-book-medical i-projects"></i>
                <h1>Projects</h1>
            </div>
            <div class="settings nav-btn">
                <i class="fa-solid fa-gear i-settings"></i>
                <h1>Settings</h1>
            </div>
        </nav>
    </aside>
        
    <div class="main">
        <div class="box a">
            <h1 id="info_domain">*.example.com</h1>
        </div>
        <div class="box b">
            <h2 id="pip-1">example</h1>
            <button class="run-btn"><h4>run</h4></button>
            <button class="run-btn"><img class="loading" src="../static/Cosmos.gif" alt="loading"></button>
        </div>
        <div class="box c"></div>
        <div class="box d"></div>
        <div class="box e"></div>
        <div class="box f"></div>
        <div class="box g"></div>
        <div class="box h"></div>
        <div class="box i"></div>
    </div>
</body>
</html>