<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipeline</title>
    <link rel="icon" href="../static/favicon.ico">
    <script src="https://kit.fontawesome.com/d659ec4204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
    <script src="../static/api.js"></script>

    <!-- poppins font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <nav>
            <div class="home nav-btn" id="home">
                <i class="fa-solid fa-house i-home"></i>
                <h1>Home</h1>
            </div>
            <div class="dashboard nav-btn" id="dashboard">
                <i class="fa-solid fa-chart-line i-dashboard"></i>
                <h1>Dashboard</h1>
            </div>
            <div class="projects nav-btn" id="projects">
                <i class="fa-solid fa-book-medical i-projects"></i>
                <h1>Projects</h1>
            </div>
            <div class="settings nav-btn" id="settings">
                <i class="fa-solid fa-gear i-settings"></i>
                <h1>Settings</h1>
            </div>
        </nav>
    </aside>
    <div class="popups">   
        <div class="popup box" id="projects_popup">
            <h1>Projects list</h1>
            <form class="api_forms" method="POST" data-action="Create_project">
                <input type="text" name="project_domain" placeholder="Domain of your new project">
                <button type="submit">Create_project</button>
            </form>
            <form class="api_forms" method="POST" data-action="Delete_project">
                <select name="project_domain" id="Delete_project_dropdown" required>
                    <option selected>Choose a project</option>
                </select>
                <button type="submit">Delete_project</button>
            </form>
            <form class="api_forms" method="POST" data-action="Change_project">
                <select name="project_domain" id="Change_project_dropdown" required>
                    <option selected>Choose a project</option>
                </select>
                <button type="submit">Change_project</button>
            </form>
        </div>
        <div class="popup box" id="settings_popup">
            <h1>Settings</h1>
            <form class="api_forms" method="POST" data-action="Custom_Header_Agent">
                <input type="text" name="User_agent" placeholder="Custom User-Agent">
                <input type="text" name="Header" placeholder="Custom Header">
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="dim" id="dim"></div> 
    </div>
    
    <div class="main">
        <div class="box a">
            <h1 id="info_domain">Loading</h1>
        </div>
        <div class="box b">
            <h2 id="pip-1">subfinder</h1>
            <button class="run-btn api-btn" data-path="Create_project/skibidi"><h4>run</h4></button>
            <button class="run-btn"><img class="loading" src="../static/Cosmos.gif" alt="loading"></button>
        </div>
        <div class="box c"></div>
        <div class="box d"></div>
        <div class="box e"></div>
        <div class="box f"></div>
        <div class="box g"></div>
        <div class="box h"></div>
        <div class="box i"></div>
    </div>
</body>
</html>