<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipeline</title>
    <script src="https://kit.fontawesome.com/d659ec4204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="maincontainer">
        <nav>
            <div class="left"></div>
            <div class="right">
                <i class="fa-solid fa-house home"></i>
                <i class="fa-solid fa-chart-line dashboard"></i>
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </nav>
        <div class="main">
            <div class="box box-small"></div>
            <div class="box box-medium"></div>
            <div class="box box-large"></div>
        </div>
    </div>
</body>
</html>